body{
    height: 100vh;
    margin: 0;
    font-family: Roboto, sans-serif;
    background-color:bisque;
}

.flex-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.calculator{
    margin-top: auto;
    margin-bottom: auto;
    margin-left:auto;
    margin-right:auto;
    background-color: pink;
    width: 280px;
    height: 430px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    gap: 20px;
    border: solid;
    border-color: rgba(52, 47, 47, 0.5);
}

.display{
    background-color: rgb(244, 236, 237);
    width:  230px;
    height: 50px;
    margin-top: 30px;
    margin-left: auto;
    margin-right:auto;
    border: solid;
    border-color: rgba(52, 47, 47, 0.5);
    font-size: 20px;
}

.buttons{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction:column;
    gap: 5px;
    border-style:hidden;

}

button{ 
    height: 55px;
    width:  55px;
    background-color: rgb(247, 184, 194);
    border-style:groove;
    border-color: rgba(52, 47, 47, 0.5);
    font-weight:bolder;
    color: rgb(255, 255, 255);
}

.footer{
    margin-top: auto;
    padding: 5px;
    font-size: 20px;
    color: white;
    background-color: rgb(250, 105, 187);
    text-align: center;
    font-weight: bold;
}