body{
    height: 100vh;
    margin: 0;
    font-family: Roboto, sans-serif;
    background-color:brown;
}

.calculator{
    margin-left:auto;
    margin-right:auto;
    background-color: beige;
    width: 153px;
    height: 220px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
}

.display{
    background-color: grey;
    width: 140px;
    height: 40px;
    margin-top: 10px;
    margin-left: auto;
    margin-right:auto;
}

.buttons{
    margin-left: auto;
    margin-right: auto;
    margin: 10px;
    height: 10px;
    display: flex;
    flex-direction:column;
    gap: 5px;
}

button{
    height: 30px;
    width:  30px;
}